<h3 class="recommend-title">Sobre mim</h3>

<p>Olá, meu nome é Giancarlo, sou cristão da Igreja Presbiteriana e sou um estudante de Engenharia da Computação na Unicamp. Bem-vindo (a) ao meu site.</p>
<p>Aqui vou colocar algumas informações profissionais e pessoais sobre mim, além de ser uma plataforma para escrever algumas coisas sobre tecnologias com as quais estou mexendo</p>
<p>O projeto com o qual atualmente estou envolvido é a equipe <a href="https://www.instagram.com/bajaunicamp/?hl=pt">Unicamp Baja SAE</a>, no qual eu sou membro da área de Sistemas Embarcados e Telemetria. Há uma pasta aqui no site caso você tenha interesse nas tecnologias com as quais eu trabalhei nele.</p>
<p>Meu hobbie principal no momento tem sido o Linux, mais especificamente o <a href="https://www.debian.org/index.pt.html">Debian 12</a>, o qual instalei sem interface gráfica e o configurei com o <a href="https://awesomewm.org/">awesomewm</a>. Neste site há também uma pasta na qual registrei o que fiz.</p>
<p>No futuro planejo tirar um tempo para dar uma olhada no <a href="https://www.linuxfromscratch.org/">Linux From Scratch</a> e no <a href="https://github.com/scottwilliambeasley/debian-from-scratch">Debian From Scratch</a>, pois esses projetos me chamam muito a atenção.</p>
<p>Fora isso, meus interesses mais gerais são tanto em alto nível (no back-end) quanto no baixo nível com sistemas embarcados, os quais vou escrever mais também.</p>
<p>Aqui abaixo segue meu currículo caso tenha interesse: </p>

